CompileFlags:
  Add: [
    -Wall, -Wextra,
    -Wpedantic,
    -Wno-empty-translation-unit,
    -Wunused,
    -Wfloat-equal,
    -Wundef,
    -Wshadow,
    -Wpointer-arith,
    -Wcast-align,
    -Wstrict-prototypes,
    -Wstrict-overflow=5,
    -Wwrite-strings,
    -Wcast-qual,
    -Wswitch-default,
    -Wswitch-enum,
    -Wconversion,
    -Wunreachable-code,
    -Wvla,
    -xc,
    --std=c23
    ]
