BasedOnStyle: LLVM

BraceWrapping:
  AfterControlStatement: true
  AfterEnum:       false
  AfterFunction:   true
  AfterStruct:     false
  AfterUnion:      false
  BeforeElse:      true
  IndentBraces:    false
BreakBeforeBraces: Custom

UseTab: Never
TabWidth: 4
IndentWidth: 4
ColumnLimit: 100
